.search-container{
    height: 30px; 
    width: 100%;   
    display: flex;
    margin: 0;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
.search-container input{
    padding: 15px 10px;
    font-size: 1.25em;
    border: none;
    outline: none;
    flex: 1;
    margin-left: 0;
}
.close-search{
    cursor: pointer;
}


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader-container{
    padding: 20px;
  }


