.App {
  text-align: center;
  position: relative;
}


@media (prefers-reduced-motion: no-preference) {
}


header{
  left: 0;
  top:0;
  height: 70px;
  width: 100%;
  background-color:rgb(29, 88, 214);
  color: white;
  font-size: 2em;  
}
header span{
  font-size: small;
}


.loader {
  /*
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  */
  border: 16px solid blue;
  border-top: 16px solid red;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: auto;
 margin-top: 50px;
  
 position: fixed; /* or absolute */
 top: 50%;
 left: 50%;
}

