.App {
  text-align: center;
  position: relative;
}


@media (prefers-reduced-motion: no-preference) {
}


header{
  left: 0;
  top:0;
  height: 70px;
  width: 100%;
  background-color:rgb(29, 88, 214);
  color: white;
  font-size: 2em;  
}
header span{
  font-size: small;
}
